<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Note it!</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock content %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
