{% extends '::layout.html.twig' %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block javascripts %}
  <script src="/assets/app.js?t={{ date().timestamp }}"></script>
{% endblock %}
