# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: '%env(NOTES_DATABASE_HOST)%'
    database_port: '%env(NOTES_DATABASE_PORT)%'
    database_name: '%env(NOTES_DATABASE_NAME)%'
    database_user: '%env(NOTES_DATABASE_USER)%'
    database_password: '%env(NOTES_DATABASE_PASSWORD)%'

    mailer_transport: smtp
    mailer_host: '%env(NOTES_MAILER_HOST)%'
    mailer_user: '%env(NOTES_MAILER_USER)%'
    mailer_password: '%env(NOTES_MAILER_PASSWORD)%'

    # A secret key that's used to generate certain security-related tokens
    secret: '%env(NOTES_SECRET_TOKEN)%'

    env(NOTES_SECRET_TOKEN): ThisTokenIsNotSoSecretChangeIt
    env(NOTES_DATABASE_HOST): 127.0.0.1
    env(NOTES_DATABASE_PORT): 3306
    env(NOTES_DATABASE_NAME): note
    env(NOTES_DATABASE_USER): note
    env(NOTES_DATABASE_PASSWORD): note
    env(NOTES_MAILER_HOST): 127.0.0.1
    env(NOTES_MAILER_USER): noreply@notes.tld
    env(NOTES_MAILER_PASSWORD): ~
