{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

  <div class="form-group">
    <input type="text"
           id="username"
           name="username"
           required="required"
           placeholder="{{ 'resetting.request.username'|trans }}"
           title="{{ 'resetting.request.username'|trans }}"
    />
  </div>

  <div class="form-actions">
    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
  </div>

</form>
