$font-size: 16px;
$editor-font: 14px;

$primary-color: #267cb5;
$link-color: $primary-color;
$error-color: #c21f39;

$width: 1200px;

$gap: 1em;
$content-width: 700px;
$background-color: #fafafa;
$border-color: darken($background-color, 15%);
